<%# reference
 https://blog.yukirii.dev/sort-struct-of-ruby/
 https://techacademy.jp/magazine/22208
%>

<!DOCTYPE html>

<%
# definition of simple Student class
Student = Struct.new(:number, :familyname, :givenname, :english, :math, :average)

# initialization of array students
students = [        
        Student.new("12345678", "Reigai",     "Taro",     80,  62), # 例外 　　太郎
        Student.new("12349875", "Reidai",     "Hanako",   76,  65), # 例題 　　花子
        Student.new("12349458", "Gambare",    "Manabu",   56,  66), # 頑張 　　学
        Student.new("12342584", "Sample",     "Tatoe",    34,  70), # サンプル 例恵
        Student.new("12348347", "Sugaku",     "Tokeko",   55, 100), # 数学 　　解子
        Student.new("12341948", "Girigiri",   "Tariyasu", 60,  60), # ぎりぎり 足康
        Student.new("12348463", "English",    "Perfect", 100,  56), # 英語 　　完璧
        Student.new("12347628", "Asobi",      "Saboro",   20,  25), # 遊日 　　サボ郎
        Student.new("12344924", "Kurikaeshi", "Mawaroh",  77,  30), # 繰返 　　回郎
        Student.new("12341369", "Seiretu",    "Junko",    69,  80), # 整列 　　順子
        Student.new("95817028", "Kim",        "Jibin",    23,  80), # new 　　
        Student.new("13345221", "Lee",        "Jun",      99,  60)  # new 　　
  ]
%>

<%
sort = servlet_request.query['sort'].to_i

if sort == 1
  students = students.sort do |i, j|
    i.number <=> j.number
  end

elsif sort == 2 
  students = students.sort do |i, j|
     i.familyname <=> j.familyname
  end

elsif sort == 3
  students = students.sort do |i, j|
    i.givenname <=> j.givenname
  end

elsif sort == 4
  students = students.sort do |i, j|
    i.english <=> j.english
  end

elsif sort == 5
  students = students.sort do |i, j|
    i.math <=> j.math
  end

elsif sort == 6
  students = students.sort do |i, j|
    i.math + i.english <=> j.math + j.english
  end

else
  nil
 end
%>

<html lang='en-US'>
  <head>
    <meta charset="utf-8">
    <title>Student Data</title>
    <style>
      table, table th, table td { border-collapse: collapse; border: 1px solid black; }
      table td { text-align: right; padding-right: 10pt; }


    </style>
  </head>
  <body>
    <h1>This student database.</h1>
    <p>sort button for columns </p>
    <div class="checks">
      <form method="get">
        <label for='stdID'>Student ID: 
        <input name='sort' id='stdID' type='radio' value = 1 >
        </label>
        <br>
        <label for='familyName'>Family name: 
        <input name='sort' id='familyName' type='radio' value = 2>
        </label>
        <br>
        <label for='givenName'>Given name:
        <input name='sort' id='givenName' type='radio' value = 3>
        </label>
        <br>
        <label for='english'>English: 
        <input name='sort' id='english' type='radio' value = 4>
        </label>
        <br>
        <label for='math'>Math:
        <input name='sort' id='math' type='radio' value = 5 >
        </label>
        <br>
        <label for='average'>Average: 
        <input name='sort' id='average' type='radio' value = 6 >
        </label>
        <br>
        <input type='submit' value="Recalculate">
      </form>
    </div >
    <table>
      <tbody>
          <tr>
              <th>Student ID</th>
              <th>Family Name</th>
              <th>Given Name</th>
              <th>English</th>
              <th>Math</th>
              <th>Average</th>
          </tr>
          <% (0..11).each do |n| %>
              <tr>
                  <td><%= students[n].number %></td>
                  <td><%= students[n].familyname %></td>
                  <td><%= students[n].givenname %></td>
                  <td><%= students[n].english %></td>
                  <td><%= students[n].math %></td>
                  <td><%= (students[n].math + students[n].english) / 2  %> </td>
              </tr>
          <% end %>
      </tbody>
    </table>
  </body>
</html>

